Package: com.zeroninex.easytier
Name: EasyTier
Version: 0.3.0
Architecture: iphoneos-arm64
Conflicts: com.zeroninx.easytier
Replaces: com.zeroninx.easytier
Maintainer: zeroninex
Author: zeroninex
Section: Networking
Priority: optional
Description: EasyTier for iOS 15+ jailbreak.
 SpringBoard app and easytierd daemon packaged for rootless jailbreak environments.
